@font-face {
  font-family: "Lato Bold";
  src: url("../assets/fonts/lato-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/lato-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/lato-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muli Black";
  src: url("../assets/fonts/muli-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  /* Fuentes */
  --bold: "Lato Bold";
  --italic: "Lato Italic";
  --regular: "Lato Regular";
  --titles: "Muli Black";
}

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  text-align: center;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #476C5E;
  border-radius: 23px;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: #476C5E;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

@media (min-width: 992px) {
  .scroll-btn .mouse {
    border: 3px solid white;
  }

  .scroll-btn .mouse > * {
    background: white;
  }
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  display: none;
  position: absolute;
}

#skrollr-body {
  height: 3000vh;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
}

h2, img, p, span {
  position: fixed;
  z-index: 9;
}

h2 {
  font-family: var(--titles);
  top: 0;
  width: 100%;
}

p {
  font-family: var(--regular);
}

span {
  font-family: var(--titles);
  color: white;
  text-shadow: .1px .1px 1px #333;
  font-weight: 600;
  font-size: 2rem;
}

section {
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
section.primera {
  background-image: url("../assets/img/credit-squeeze-522549_phone.jpg");
  background-position: 25% top;
  z-index: 3;
}
section.segunda {
  background-image: url("../assets/img/mockup-celular-1_phone.jpg");
  z-index: 2;
}
section.tercera {
  background-image: url("../assets/img/celular1_phone.jpg");
  z-index: 1;
}
section.cuarta {
  left: 0;
}
section.quinta {
  background-color: black;
}

.content:nth-of-type(2) {
  color: white;
}
.content:nth-of-type(2) p {
  width: 80%;
}
.content:nth-of-type(3) p {
  width: 300px;
}
.content:nth-of-type(4) > picture img {
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
.content:nth-of-type(4) a img {
  display: block;
  height: 59px;
  width: 200px;
}
.content:last-of-type img:first-of-type {
  display: block;
  height: 100px;
  left: 0;
  right: 0;
  margin: auto;
  top: calc(50vh - 100px);
  width: 100px;
}
.content:last-of-type img:last-of-type {
  display: block;
  height: 36px;
  left: 0;
  right: 0;
  margin: auto;
  top: 65vh;
  width: 250px;
}

@media (min-width: 768px) {
  #skrollr-body {
    height: 1600vh;
  }

  h2, span {
    font-size: 4rem;
    width: 500px;
  }

  p {
    font-size: 1.5rem;
  }

  section.primera {
    background-image: url("../assets/img/credit-squeeze-522549_phone.jpg");
    background-position: 25% top;
  }
  section.segunda {
    background-image: url("../assets/img/mockup-celular-1_phone.jpg");
  }
  section.tercera {
    background-image: url("../assets/img/celular1_phone.jpg");
  }

  .content:nth-of-type(2) p {
    margin-top: 4rem;
  }
  .content:nth-of-type(3) p {
    margin-top: 5rem;
    width: 60%;
  }
  .content:nth-of-type(4) > picture img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .content:nth-of-type(4) a img {
    height: auto;
    width: 15rem;
  }
  .content:nth-of-type(4) a:first-of-type img {
    margin-top: 1.5rem;
  }
  .content:nth-of-type(4) a:last-of-type img {
    margin-top: 2.5rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  section.primera {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(90%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("../assets/img/credit-squeeze-522549_desktop.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0.1) 100%), url("../assets/img/credit-squeeze-522549_desktop.jpg");
    background-size: cover;
  }
  section.segunda {
    background-image: url("../assets/img/mockup-celular-1_desktop.jpg");
  }
  section.tercera {
    background-image: url("../assets/img/celular1_desktop.jpg");
  }

  .content:first-of-type h2 {
    width: 25%;
  }
  .content:nth-of-type(2) h2 {
    margin-top: 5rem;
  }
  .content:nth-of-type(2) p {
    margin-top: 4rem;
    width: 50%;
  }
  .content:nth-of-type(3) h2 {
    margin-right: 4rem;
    width: 25%;
  }
  .content:nth-of-type(3) p {
    margin-top: -7rem;
    width: 25%;
  }
  .content:nth-of-type(4) a:nth-of-type(1) img {
    margin-left: -3rem;
  }
  .content:nth-of-type(4) a:nth-of-type(2) img {
    margin-left: -10rem;
  }
}
@media (min-width: 1200px) {
  #skrollr-body {
    height: 2000vh;
  }
}
@media (min-width: 1920px) {
  h2 {
    font-size: 3rem;
    width: 500px;
  }

  p {
    font-size: 1.5rem;
  }

  .content:nth-of-type(3) p {
    width: 15%;
  }
  .content:nth-of-type(4) a:last-of-type img {
    margin-top: 0;
  }
}
