@import "fonts";
@import "scroll-down";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  display: none;
  position: absolute;
}

#skrollr-body {
  height: 3000vh;
}

.overlay {
  background: rgba(black, .3);
  position: fixed;
  z-index: 3;
  height: 100%;
  width: 100%;
}

h2, img, p, span {
  position: fixed;
  z-index: 9;
}

h2 {
  font-family: var(--titles);
  top: 0;
  width: 100%;
}

p {
  font-family: var(--regular);
}

span {
  font-family: var(--titles);
  color: white;
  text-shadow: .1px .1px 1px #333;
  font-weight: 600;
  font-size: 2rem;
}

section {
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;


  &.primera {
    background-image: url("../assets/img/credit-squeeze-522549_phone.jpg");
    background-position: 25% top;
    z-index: 3;
  }
  
  &.segunda {
    background-image: url("../assets/img/mockup-celular-1_phone.jpg");
    z-index: 2;
  }
  
  &.tercera {
    background-image: url("../assets/img/celular1_phone.jpg");
    z-index: 1;
  }

  &.cuarta {
    left: 0;
  }

  &.quinta {
    background-color: black;
  }
}

.content {
  &:nth-of-type(2) {
    color: white;

    p {
      width: 80%;
    }
  }

  &:nth-of-type(3) {
    p {
      width: 300px;
    }
  }

  &:nth-of-type(4) {
    > picture img {
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    a {
      img {
        display: block;
        height: 59px;
        width: 200px;
      }
    }
  }

  &:last-of-type {
    img:first-of-type {
      display: block;
      height: 100px;
      left: 0;
      right: 0;
      margin: auto;
      top: calc(50vh - 100px);
      width: 100px;
    }

    img:last-of-type {
      display: block;
      height: 36px;
      left: 0;
      right: 0;
      margin: auto;
      top: 65vh;
      width: 250px;
    }
  }
}

@media (min-width: 768px) {

  #skrollr-body {
    height: 1600vh;
  }

  h2, span {
    font-size: 4rem;
    width: 500px;
  }

  p {
    font-size: 1.5rem;
  }

  section {
    &.primera {
      background-image: url("../assets/img/credit-squeeze-522549_phone.jpg");
      background-position: 25% top;
    }
    
    &.segunda {
      background-image: url("../assets/img/mockup-celular-1_phone.jpg");
    }
    
    &.tercera {
      background-image: url("../assets/img/celular1_phone.jpg");
    }
  }

  .content {
    &:nth-of-type(2) {
      p {
        margin-top: 4rem;
      }
    }
    
    &:nth-of-type(3) {
      p {
        margin-top: 5rem;
        width: 60%; 
      }
    }

    &:nth-of-type(4) {
      > picture img {
        object-fit: cover;
      }

      a {
        img {
          height: auto;
          width: 15rem;
        }
      }

      a:first-of-type {
        img {
          margin-top: 1.5rem;
        }
      }
      a:last-of-type {
        img {
          margin-top: 2.5rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.25rem;
  }

  section {
    &.primera {
      background-image: 
        linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 90%, rgba(0,0,0,.1) 100%),
        url("../assets/img/credit-squeeze-522549_desktop.jpg");
      background-size: cover;
    }
    
    &.segunda {
      background-image: url("../assets/img/mockup-celular-1_desktop.jpg");
    }
    
    &.tercera {
      background-image: url("../assets/img/celular1_desktop.jpg");
    }
  }

  .content {
    &:first-of-type {
      h2 {
        width: 25%;
      }
    }

    &:nth-of-type(2) {
      h2 {
        margin-top: 5rem;
      }

      p {
        margin-top: 4rem;
        width: 50%;
      }
    }
    
    &:nth-of-type(3) {
      h2 {
        margin-right: 4rem;
        width: 25%;
      }

      p {
        margin-top: -7rem;
        width: 25%; 
      }
    }

    &:nth-of-type(4) {
      a:nth-of-type(1) {
        img {
          margin-left: -3rem;
        }
      }
      a:nth-of-type(2) {
        img {
          margin-left: -10rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #skrollr-body {
    height: 2000vh;
  }
}

@media (min-width: 1920px) {
  h2 {
    font-size: 3rem;
    width: 500px;
  }

  p {
    font-size: 1.5rem;
  }

  .content {
    &:nth-of-type(3) {
      p {
        width: 15%;
      }
    }

    &:nth-of-type(4) {
      a {
        &:last-of-type {
          img {
            margin-top: 0;
          }
        }
      }
    }
  }
}